.features{
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 72px;
}
.features__list{
    display: flex;
    gap: 24px;
}
.features__item{
    width: 264px;
}
.features__title {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features__text {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.features__decoration{

    box-sizing: border-box;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 264px;
    height: 112px;


    background: #F4F4FD;

    border: 1px solid #8E8F99;
    border-radius: 4px;
}

