.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.footer__block{
    margin-right: 120px;
}

.footer__logo{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #F4f4FD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}
.footer__text{
    margin-top: 16px;
    color: #F4f4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.footer__icon{
    color: #f4f4fd;

}
.footer__socials{
    width: 208px;
    
}
.footer__social__list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.footer__socials__text{
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer__social__list .footer__link{
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer__socials .footer__link:hover{
    background-color: #31D0AA;
}
.footer__socials .footer__link:focus{
    background-color: #31D0AA;
}
.Footer__input{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;

    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    isolation: isolate;

    width: 264px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;

}
.Footer__input::placeholder{
    /* E-mail */
    
    /* Small Text */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    letter-spacing: 0.04em;

    /* WHITE */
    color: #FFFFFF;




}
.Footer__input:hover, .Footer__input:focus{
    border: 1px solid #31D0AA;
}

.Footer__subscribe{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    right: 15px;
    top: 0px;
}
.Subscribe__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 453px;
    height: 40px;
}
.Footer__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;

    width: 165px;
    max-width: 165px;
    height: 40px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;

    background: #4D5AE5;
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.Subscribe__text{
    font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.Footer__button:hover,.Footer__button:focus{
    background-color: #31D0AA;
}
