/* Базові стилі (Мобільна версія за замовчуванням) */
.header {
  border-bottom: 1px solid #E7E9FC;
  background: #FFFFFF;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Розносить логотип і кнопку по краях */
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.logo-accent {
  color: #2e2f42;
}

/* Ховаємо навігацію та контакти на мобілках */
.nav__links,
.address {
  display: none;
}

/* Кнопка бургера */
.mobile-menu-open {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}

.mobile-menu-icon {
  stroke: #2f2f37;
}

/* ========================================= */
/* TABLET VERSION (від 768px) */
/* ========================================= */
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none; /* Ховаємо бургер */
  }

  .nav__links {
    display: flex;
    gap: 40px;
    margin-left: 120px; /* Відступ від логотипу */
  }

  .nav__links a {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .nav__links a:hover,
  .nav__links a:focus,
  .nav__links a.active {
    color: #404bbf;
  }

  .nav__links a.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
    display: block;
    font-style: normal;
  }

  /* На планшеті контакти стоять один під одним */
  .address__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address__list a {
    display: block;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address__list a:hover,
  .address__list a:focus {
    color: #404bbf;
  }
}

/* ========================================= */
/* DESKTOP VERSION (від 1158px) */
/* ========================================= */
@media screen and (min-width: 1158px) {
  .nav__links {
    margin-left: 76px;
  }

  /* На десктопі контакти стоять в один ряд */
  .address__list {
    flex-direction: row;
    gap: 40px;
  }

  .address__list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}